.gcloudignore
.git
.gitignore
node_modules
node_modules/**
venv
venv/**
.venv
.venv/**
.venv-1
.venv-1/**
.venv-2
.venv-2/**
.venv-3
.venv-3/**
__pycache__
__pycache__/**
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
firebase-debug.log
firestore.indexes.json
# serviceAccountKey.json
.firebase
.firebase/**
